<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>
    style 
      include ../static/style.css
   

</head>
<body>
<div class="main">
  <header>
    <nav>
      <div class="logo">
        <h4>ISMpetition</h4>
        <p>Every Voice Matters</p>
      </div>
    </nav>
  </header>
  <section id="desc">
    <h1>About ISMpetition</h1>
    <p id="about">Create a powerful online petition in just a few minutes Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus sed id, sapiente velit ipsam quam cum quae, accusantium consectetur magni totam nemo, distinctio atque rem ad unde quia quos fugit officiis reprehenderit, beatae? Fuga atque ratione numquam vel perspiciatis voluptate iusto natus deserunt quo, voluptas magni, blanditiis est</p>
    button#signin-up(onclick="window.location.href='/home'") Sign In/ Sign Up
  </section>
  <footer>
    <div class="footeritem"> To Mail us 
    <a href="mailto:starkkumarkk1611@gmail.com">  
    |	Click Here
    </a>
    </div>
  </footer> 
</div>
 
</body>
</html>