html,
body {
	/*        	border: 2px solid blue;*/
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: black;
    color: white;


}
.main {
	/*        	border: 2px solid black;*/
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
	opacity: 0.899;
}

header {
	width: 100%;
    
}

header::before {
	background: url(/static/judge.jpg) repeat center center/cover;
	content: "";
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: 0.7;

/*            border: 2px solid red;*/
}

nav {
	display: flex;
		/*border: 2px solid red;*/
	flex-direction: row;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	border-bottom: 2px solid #87fe39;
}

.logo p {
	margin: 7px;
	padding: 0 8px;
	color:white;
	flex-basis: 300px;
    font-size: 1.6rem;

}

.logo h4 {

	font-weight: bolder;
	font-size: 2.4rem;
	margin: 7px;
	padding: 0 8px;
	color: #87fe39;
	flex-basis: 300px;

}
.userinfo{
    /*border: 2px solid red;*/
    display: flex;
    margin: 0px;
    padding: 0px;
}

.userinfo p{
   /* border: 2px solid red;*/
    margin: 4px;
    align-items: center;
    align-self: center;
    font-size: 1.9rem;
    font-weight: bold;
}

.userinfo #signout{
   border: 2px solid #87fe39;
    

	display: block;
	height: 30px;
	align-self: center;
	margin: 3px;
	height: 3rem;
	width: 9rem;
	padding: 0;
	margin-right: 4px;
	border-radius: 5px;
	background: #87fe39;
	color: black;
    font-size: 1.35rem;
}

.userinfo #signout:hover{
    background: black;
	border: 2.5px solid;
	color: #87fe39;
	border-color: #87fe39;
	cursor: pointer;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.petition_pre{
    width: 90%;
    background: black;
    opacity: 0.69;
    margin-top: 1rem;
    padding: 0.5rem;
    align-items: center;
    display: flex;
    border-radius: 2rem;
    flex-direction: column;
}
#petitionTitle{
    color: #87fe39;
    font-weight: bolder;
    font-size: xxx-large;
    text-align: center;
}
#reciptent{
    font-size: 1.3rem;
    color: yellow;
    margin: 0;
}
#petition_by{
    font-size: 1.3rem;
    color: yellow;
    margin: 0;
    padding: 0;
}

#description{
    width: 70%;
    font-size: x-large;
    text-align: justify;
}
#description p{
    margin: 0;
    padding: 0;
}
#save_publish{
    border:none;
    background-color: #87fe39;
    opacity: 0.8;
    height: 3rem;
    width: 30%;
    padding: 0;
    margin: 1rem;
}
#save_publish:hover{
    opacity: 1;
}
#link_to_ptn {
    margin: 1rem;
    margin: 1rem;
    padding: 0.5rem;
    height: 2rem;
    font-size: xx-large;
    text-decoration: none;
    border: 2px solid snow;
    background-color: blue;
    border-radius: 0.5rem;
    display: none;
}